<div class="clinic-profile">
  <div class="overview">
    <h2>Clinic Overview</h2>

    <div class="cards">
      <div class="card">
        <div class="icon">
          <i class="fas fa-user-injured"></i>
        </div>
        <div class="data">
          <h3>Total Patients</h3>
          <p>{{ totalPatients }}</p>
        </div>
      </div>

      <div class="card">
        <div class="icon">
          <i class="fas fa-calendar-check"></i>
        </div>
        <div class="data">
          <h3>Appointments</h3>
          <p>{{ totalAppointments }}</p>
        </div>
      </div>

      <div class="card">
        <div class="icon">
          <i class="fas fa-flask"></i>
        </div>
        <div class="data">
          <h3>Lab Orders</h3>
          <p>{{ totalLabOrders }}</p>
        </div>
      </div>

      <div class="card">
        <div class="icon">
          <i class="fas fa-box-open"></i>
        </div>
        <div class="data">
          <h3>Materials</h3>
          <p>{{ totalMaterials }}</p>
        </div>
      </div>
    </div>

      <div class="chart-container">
    <div class="chart">
      <div class="bar-container" data-label="1-1-2024">
        <div class="bar" style="height: 75%; background-color: #F44336;"></div>
      </div>
        <div class="bar-container" data-label="2-1-2024">
        <div class="bar" style="height: 90%; background-color: #E91E63;"></div>
      </div>
        <div class="bar-container" data-label="3-1-2024">
        <div class="bar" style="height: 50%; background-color: #9C27B0;"></div>
      </div>
        <div class="bar-container" data-label=" 4-1-2024">
        <div class="bar" style="height: 85%; background-color: #673AB7;"></div>
      </div>
        <div class="bar-container" data-label=" 5-1-2024">
        <div class="bar" style="height: 60%; background-color: #3F51B5;"></div>
      </div>
        <div class="bar-container" data-label=" 6-1-2024"><div class="bar" style="height: 75%; background-color: #F44336;"></div> </div>
        <div class="bar-container" data-label=" 7-1-2024"> <div class="bar" style="height: 90%; background-color: #E91E63;"></div> </div>
        <div class="bar-container" data-label="   8-1-2024"> <div class="bar" style="height: 50%; background-color: #9C27B0;"></div></div>
        <div class="bar-container" data-label="  9-1-2024"> <div class="bar" style="height: 85%; background-color: #673AB7;"></div></div>
    </div>
  </div>
  </div>
</div>
