<div class="sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <i class="fas fa-clinic-medical"></i>
      <span class="logo-text">Dr.Easy</span>
    </div>
    <button title="Toggle Sidebar" class="toggle-btn" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <ul class="nav">
    <li *ngFor="let item of navItems" routerLinkActive="active" [routerLinkActiveOptions]="{exact: item.link === '/'}">
      <a [routerLink]="item.link">
        <i [class]="item.icon"></i>
        <span class="link-text">{{ item.text }}</span>
      </a>
    </li>
  </ul>
</div>
